body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3f5e66;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  color: black;
  text-align:center;
}


div{
  color: black;
  text-shadow: 1px 1px 5px #000000;
}






.descCard{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  font-size: 3rem;
  top: 55vh;
  left: 30vw;
}

.player0Hand{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 70vh;
  cursor: grab;
  flex-direction: row;
}

.player0Graveyard{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 75vh;
  left:60vw;
}

.player1Hand{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 15vh;
  cursor: grab;
  flex-direction: row;
}

.player1Graveyard{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 15vh;
  left:60vw;
}

.player0LifeTotal{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.player1LifeTotal{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.player-data-container{
  position: absolute;
    top:35vh;
    left:50vw;
}

.player0Deck{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 75vh;
  left:40vw;
}

.player1Deck{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 15vh;
  left:40vw;
}

.player0Relics{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 87vh;
  left:25vw;
}

.player1Relics{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 3vh;
  left:25vw;
}

h3{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:50vh;
  left:50vw;
}

.market{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:40vh;
  left:0vw;
  cursor: grab;
}

.end-turn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 2%;

  
  color:black;
  font-size:1rem;
  font-family:Arial,Helvetica Neue,Helvetica,sans-serif;
}

.end-turn{
  background: #F5F5DC;
  width: 125px;
  text-align: center;
  padding:5px;
  font-size:1.5rem;
  border:2px solid aliceblue;
  border-radius:100px;
  transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.draw-button{
  background: #F5F5DC;
  width: 125px;
  text-align: center;
  padding:5px;
  font-size:1.5rem;
  border:2px solid aliceblue;
  border-radius:100px;
  transition: .3s;
}

.turn{
  display: flex;
  justify-content: center;
  flex-direction:column;
  position: absolute;
  align-items: center;
  width: 10%;
  right: -10vw;
}
.red-circle{
  height: 100px;
  width: 93px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 10px 0 red inset, 0 0 20px 2px red;
  border: 3px solid red;
}

.green-circle{
  height: 100px;
  width: 93px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0 0 10px 0 green inset, 0 0 20px 2px green;
  border: 3px solid green;
}

.invisible-circle{
  height: 100px;
  width: 100px;
  background-color: #3f5e66;
  border-radius: 50%;
  display: inline-block;
  margin: 14px;
}

.inviteLinkDiv{
  z-index: 1000;
    position: absolute;
    width: 280px;
    padding: 10px;
    top: calc(50% - 50px);
    left: calc((100% - 300px) / 2 - 140px);
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.inviteLinkSpan{
  display: block;
  text-align: center;
  font-size: 14px;
}

.inviteLinkInput{
  display: block;
  width: 100%;
  margin: 10px 0px 0px;
}

.inviteLinkButton{
  display: block;
  width: 100%;
  margin: 10px 0px 0px;
  background-color: #F5F5DC;
  border: 1px solid black;
}

.rotate-device{
  display:none
}

/* hover effects need a slot for animations still */

.end-turn:hover{
  width:200px;
  background-color: #F5F5DC;
   box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  color: rgba(231, 49, 49, 0.794);
  transition:.3s;
}

.inviteLinkButton:hover{
  border: 2px solid black;
  color: rgba(231, 49, 49, 0.794);
}

.end-turn:active{
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  transition: .05s
}

.hand-card-p1:hover{
  box-shadow: 0 0 10px 0 #00bed7 inset, 0 0 20px 2px #00bed7;
  border: 3px solid #00bed7;
}

.hand-card-p0:hover{
  box-shadow: 0 0 10px 0 #00bed7 inset, 0 0 20px 2px #00bed7;
  border: 3px solid #00bed7;
}

.market-card:hover{
  box-shadow: 0 0 10px 0 #ceba06 inset, 0 0 20px 2px #ceba06;
  border: 3px solid #ceba06;
}


.draw-button:hover {
  animation: pulse 1s infinite;
  transition: .3s;
  box-shadow: 0 0 10px 0 #00bed7 inset, 0 0 20px 2px #00bed7;
  border: 3px solid #00bed7;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}

/* animations start here */



/* 
general effects 
*/


/* media queries go here */

@media only screen and (max-width: 600px) {
  body {
    background-color: #3f5e66;
  }

  
}


@media screen and (orientation: portrait) and (max-width: 768px) {
  .homepage-container {
    display:none;
    
  }
  .rotate-device{
    display:flex;

  }

}


@media screen and (orientation: landscape) and (max-height:400px) {

  .body{
    font-size: 12px;
  }

  .turn{
    width: 10%;
    right: -10vw;    
  }

  .red-circle{
    height: 50px;
    width: 50px;
    margin:90%;
  }
  .green-circle{
    height: 50px;
    width: 50px;
  }
  .invisible-circle{
    display: none;
  }

  p{
    font-size: 10px

  }

  .player-data-container{
    position: absolute;
    font-size: 12px;
    width: 200px;
    top:30vh;
    left: 50vw;
  }

  .end-turn{
    width:70px;
    font-size: 12px;
  }
  h2{
    justify-content:center;
    font-size: 14px;
  }

  .hand-title{
    display:none;
  }

  .draw-button{
    width:70px;

  }

  .player0Graveyard{
    font-size: 12px;
  }

  .player1Graveyard{
    font-size: 12px;
  }

  .player0-graveyard-elm:nth-child(n+3){
    display:none;
  }

  .player1-graveyard-elm:nth-child(n+3){
    display:none;
  }

  .player1-deck-title{
    display:none;
  }

  .player0-deck-title{
    display:none;
  }
  
  .moves-left{
    display:none;
  }

  .player0-card-desc{
    display:none
  }

  .player1-card-desc{
    display:none
  }

  .player1-relic-title{
    display:none;
  }

  .player0-relic-title{
    display:none;
  }

}