body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3f5e66;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  color: black;
  text-align:center;
}


div{
  color: black;
  text-shadow: 1px 1px 5px #000000;
}

.descCard{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  font-size: 3rem;
  top: 55vh;
  left: 30vw;
}

.player0Hand{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 75vh;
  cursor: grab;
  flex-direction: row;
}

.player0Graveyard{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 75vh;
  left:60vw;
}

.player1Hand{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 15vh;
  cursor: grab;
  flex-direction: row;
}

.player1Graveyard{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 15vh;
  left:60vw;
}

.player0LifeTotal{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40vh;
}
.player1LifeTotal{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40vh;
}

.player0Deck{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 75vh;
  left:40vw;
}

.player1Deck{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 15vh;
  left:40vw;
}

.player0Relics{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 87vh;
  left:25vw;
}

.player1Relics{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  top: 3vh;
  left:25vw;
}

h3{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:50vh;
  left:50vw;
}

.market{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top:40vh;
  left:0vw;
  cursor: grab;
}

.end-turn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 2%;

  
  color:black;
  font-size:1rem;
  font-family:Arial,Helvetica Neue,Helvetica,sans-serif;
}

.end-turn{
  background: #F5F5DC;
  width: 125px;
  text-align: center;
  padding:5px;
  font-size:1.5rem;
  border:2px solid aliceblue;
  border-radius:100px;
  transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.draw-button{
  background: #F5F5DC;
  width: 125px;
  text-align: center;
  padding:5px;
  font-size:1.5rem;
  border:2px solid aliceblue;
  border-radius:100px;
  transition: .3s;
}

/* hover effects need a slot for animations still */

.end-turn:hover{
  width:200px;
  background-color: #F5F5DC;
   box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
  color: rgba(231, 49, 49, 0.794);
  transition:.3s;
}

.end-turn:active{
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  transition: .05s
}

.hand-card-p1:hover{
  box-shadow: 0 0 10px 0 #00bed7 inset, 0 0 20px 2px #00bed7;
  border: 3px solid #00bed7;
}

.hand-card-p0:hover{
  box-shadow: 0 0 10px 0 #00bed7 inset, 0 0 20px 2px #00bed7;
  border: 3px solid #00bed7;
}

.market-card:hover{
  box-shadow: 0 0 10px 0 #ceba06 inset, 0 0 20px 2px #ceba06;
  border: 3px solid #ceba06;
}


.draw-button:hover {
  animation: pulse 1s infinite;
  transition: .3s;
  box-shadow: 0 0 10px 0 #00bed7 inset, 0 0 20px 2px #00bed7;
  border: 3px solid #00bed7;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(.9);
  }
    100% {
    transform: scale(1);
  }
}

/* animations start here */